# -----------------------
# LaTeX / LuaLaTeX
# -----------------------

references/

.vscode/
*.DS_Store
Thumbs.db

*.tikz
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.dvi
*.bbl
*.blg
*.bcf
*.run.xml
.listing

*.latexmkrc
